<ion-view title="My Events">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="event in events|filter:user.password.email" type="item-text-wrap">
        {{event.label}}
        <span class="badge badge-balanced">{{event.cost}}</span>
      </ion-item>
    </ion-list>
      <div class="card assertive">
          <div class="item item-text-wrap">
              Total Spent <span class="badge badge-positive">{{getTotal()}}</span>
          </div>
      </div>
  </ion-content>
  <ion-footer-bar>
    <div class="item item-input-inset">
      <input ng-model='label' type='text' id='labelInput'  placeholder='Add a new event...'>
      <input ng-model='cost' type="number" id="costInput" placeholder='$'>
      <button class="button button-clear icon-left ion-plus" ng-click="addEvent($event)">Add</button>
    </div>
  </ion-footer-bar>
</ion-view>
